@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fyv0l5');
	src:url('../fonts/icomoon.eot?fyv0l5#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?fyv0l5') format('truetype'),
		url('../fonts/icomoon.woff?fyv0l5') format('woff'),
		url('../fonts/icomoon.svg?fyv0l5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-webfont.eot');
    src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/ubuntu-italic-webfont.eot');
    src: url('../fonts/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-italic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-light-webfont.eot');
    src: url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-light-webfont.woff') format('woff'),
         url('../fonts/ubuntu-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-webfont.eot');
    src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/ubuntu-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium-webfont.eot');
    src: url('../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-medium-webfont.woff') format('woff'),
         url('../fonts/ubuntu-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.icon-accept:before {
	content: "\e900";
}
.icon-add:before {
	content: "\e901";
}
.icon-addserver:before {
	content: "\e902";
}
.icon-arrow:before {
	content: "\e903";
}
.icon-checkbox:before {
	content: "\e904";
}
.icon-chost:before {
	content: "\e905";
}
.icon-cross:before {
	content: "\e906";
}
.icon-dload:before {
	content: "\e907";
}
.icon-doc:before {
	content: "\e908";
}
.icon-dwload:before {
	content: "\e909";
}
.icon-edit:before {
	content: "\e90a";
}
.icon-enter:before {
	content: "\e90b";
}
.icon-import:before {
	content: "\e90c";
}
.icon-jail:before {
	content: "\e90d";
}
.icon-link:before {
	content: "\e90e";
}
.icon-minus:before {
	content: "\e90f";
}
.icon-new:before {
	content: "\e910";
}
.icon-plus:before {
	content: "\e911";
}
.icon-refresh:before {
	content: "\e912";
}
.icon-search:before {
	content: "\e913";
}
.icon-upload:before {
	content: "\e914";
}

